#Signup {
  padding: 0;
  max-height: 100%;
}
#Sign-up-photo {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}
.signup-img {
  padding: 0;
  width: 100%;
  height: max-content;
  max-height: 100vh;
}
#Sign-up-form {
  align-self: center;
}
#Sign-up-photo .signup-imgby {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 16px;
}
.signup-imgby strong {
  margin-left: 3px;
}
#Signup #signup-btns {
  display: grid;
  grid-row: 1fr;
  row-gap: 10%;
  grid-column: 1fr;
  justify-content: center;
  margin: 2% 0 5%;
}
.signup-freepik {
  display: inline-flex;
  justify-content: center;
  margin: 8% 0 4%;
  width: 25%;
}
#signup-btn-google,
#signup-btn-facebook,
#signup-btn-email {
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
#signup-icon-google,
#signup-icon-facebook,
#signup-icon-email {
  margin-right: 10px;
  float: left;
}
#logintoaccount {
  margin: 5%;
}
#logintoaccount strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(54, 113, 227);
  margin-left: 3px;
}
#signup-icon-facebook {
  color: rgb(54, 113, 227);
}
.signupTerms {
  display: inline-block;
  margin: 5%;
  padding: 0;
}
.Freepiknews {
  font-family: Comic;
  display: flex;
  float: left;
  margin: 5%;
}
.newscheckbox {
  align-self: flex-start;
  margin: 2%;
  text-align: start;
}
.freepik-news {
  text-align: start;
  justify-content: center;
}
.freepik-company {
  display: inline-flex;
  justify-content: center;
  max-width: 40%;
  margin-bottom: 5%;
}
.freepikcompany {
  margin-left: 2%;
}
