#Signup{
  padding: 0;
}
.signup-img{
  height: 100%;
  padding: 0;
  max-height: 100%;
}
#Sign-up-photo {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;

}
#Sign-up-form {
  align-self: center;
}
#Sign-up-photo .signup-imgby {
  color: white;
  position: absolute;
  display: block;
  bottom: 8px;
  left: 16px;
}
.signup-imgby strong {
    margin-left: 3px;
}
#Signup #signup-btns {
  display: grid;
  grid-row: 1fr;
  row-gap: 20%;
  grid-column: 1fr;
  justify-content: center;
  margin: 5% 0 10%;
}
.signup-freepik {
  display: inline-flex;
  justify-content: center;
  margin: 20% 0 8%;
  width: 25%;
}
#signup-btn-google,
#signup-btn-facebook,
#signup-btn-email {
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
#signup-icon-google,
#signup-icon-facebook,
#signup-icon-email {
  margin-right: 10px;
  float: left;
}
#logintoaccount {
  margin: 10%;
}
#logintoaccount strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(54, 113, 227);
  margin-left: 3px;

}
#signup-icon-facebook {
  color: rgb(54, 113, 227);
}
.signupTerms {
  display: inline-block;
  margin: 10%;
  padding: 0;

}
.Freepiknews {
  font-family: Comic  ;
  display: flex;
  float: left;
  padding-top: 5%;
  margin: 10%;
}
.newscheckbox {
  align-self: flex-start;
  margin: 2%;
  text-align: start;
}
.freepik-news {
  text-align: start;
  justify-content: center;
}
.freepik-company{
    display: inline-flex;
    justify-content: center;
    max-width: 40%;
    margin-bottom: 10%;

}
.freepikcompany{
    margin-left: 2% ;
}
@media screen and(min-width:1249px) {
  #Sign-up {
    display: flex;
    flex-direction: row;
    column-count: 3;
    width: 100%;
    height: 100%;
    max-height: 100%;
    
  }
}
