#Related-col {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    margin-left: 180px;


}
.Related-articles-title{
    font-size:xx-large;
    margin-left: 100px;
    padding-bottom: 15px;
}
#Related-title {
    font-size: large;
}

.row.related-articles {
    /*width: 134%;*/
    width: 100%;

}

@media screen and (max-width: 1246px) {
    .related-articles {
        width: 37%;
    }

    .row.related-articles {
        width: 124%;
    }

    @media screen and (max-width: 640px) {
        .related-articles {
            width: 76%;
        }
    }
}