#EnhanceSymbol{
    margin-top: 20px;
    margin-left: 90px;
    height: 50px;
    width: 50px;
    background-color:  #94bfee;
    background-size: 16px;
    padding: 17px;
    font-size: 25px;
    border-radius: 30px;
}
.EnhanceTitle{ 
    text-align: center;
  font-size: 30px;
  width: 100%;
}
.caption{
    text-align: center;
}