/*#EnhanceSymbol{
    margin-top: 20px;
    margin-left: 90px;
    height: 50px;
    width: 50px;
    background-color:  #94bfee;
    background-size: 16px;
    padding: 17px;
    font-size: 25px;
    border-radius: 30px;
}
.EnhanceTitle{ 
    text-align: center;
  font-size: 30px;
  width: 100%;
}
.caption{
    text-align: center;
}*/
/*.EnhanceCard{
    margin-left: 100px;
}*/
/*.EnhanceText{
    font-size: 13px;
    width: 250px;
}
.EnhanceTitle{
   
    margin-left: 60px;
}
.Enhance-img{
    width: 140px; 
}*/
#Enhance-container{
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}
#Enhance-img{
    width: 150px;
    margin-left:100px ;
    
}
/*#EnhanceSymbol{
    margin-top: 20px;
    margin-left: 150px;
    height: 50px;
    width: 50px;
    background-color:  #94bfee;
    background-size: 16px;
    padding: 17px;
    font-size: 25px;
    border-radius: 30px;
}*/
#symbolTitle{
    text-align: center;
    font-size: 17px;
    width: 100%;
}
#symbolText{
    text-align: center;
    font-size: 13px;
}