#promote-site-features{
	width: 1200px;
	margin: 0 auto;
	padding: 40px 5px;
}
.promote-content{
	display: flex;
	justify-content: space-between;
}
.promote-info{
	padding-top: 30px;
	width: 650px;
}
.PromotePhoto {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.PromotePhoto img{
	width: 650px;
	margin: 0 auto;
}
.caption {
  margin-top: 30px;
  font-size: medium;
}
#symbol {
  margin-top: 20px;
  height: 50px;
  width: 50px;
  background-color: #94bfee;
  background-size: 16px;
  padding: 17px;
  font-size: 25px;
  border-radius: 15px;
}
.Promote-title {
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.strongTitle {
  color: blue;
}
.secondTitle {
  text-align: center;
  width: 100%;
}
.iconTitle {
  font-size: 25px;
}
.bi-star{
	max-width: 20px;
	max-height: 20px;
}
#promote-content{
	padding: 0 0 25px 10%;
}
@media (max-width:1375px) {
	#promote-site-features{
		width: 90%;
	}
}
@media (max-width:1100px) {
	#promote-site-features .PromotePhoto{
		display: none;
	}
	#promote-site-features .promote-info{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.secondTitle {
		font-size: 18px;
	}
	.iconTitle {
		font-size: 20px;
	}
	.Promote-title{
		padding-bottom: 15px;
		font-size: 25px;
	}
	#promote-site-features .caption{
		font-size: 12px;
		margin: 0;
	}
}
@media (max-width:600px) {
	#promote-site-features .PromotePhoto{
		display: none;
	}
	#promote-site-features .promote-info{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}