.discover-collection-div
{
    display: flex;
    justify-content: space-between;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 6%;
}
.discover-collection-row
{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;;
}
.discover-collection-row2
{
    width: 275px;;
}
.discover-collection-row3
{
    width: 275px;;
}
#discover-img3
{
    width: 220px;
    height: 351px;
    object-fit: cover;
    padding-left: 40px;
}
#discover-para
{
    margin-left: 30px;
    padding-top: 10px;
    font-size: 16px;
}
#discover-resources
{
    margin-left: 30px;
    color:rgb(86, 86, 86);
    font-size: 13px;
    font-weight: 500;
}
#discover-img1
{
    margin-left: 30px;
    border-radius: 10px;
}
#discover-img2
{
    margin-left: 30px;
    border-radius: 10px;
    height: 200px;
    width:300px;
    margin-top: 1%;
} 
.bi-three-dots-vertical::before {
    padding: 0;
}
.dropdown-div
{
    margin-left: 140px;
}
.discover-dropDown
{
    margin-top: 5px;
}
.discover-collection-title
{
display: flex;
}
#discover-collection-h1
{
    padding-left: 17%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 25px;
    font-weight:500;
}
.Viewall-btn
{
    color: blue;
padding-left: 8%;
font-weight: 500;

}
.Viewall-btn i {
    padding-left: 10px ;
    font-size: 14px;
}

/* @media only screen and (max-width: 1087px) {
    #discover-img1
{
    margin-left: 30px;
    border-radius: 10px;
    width: 100px;
    margin-right: 10px;
}
#discover-img2
{
    margin-left: 30px;
    border-radius: 10px;
    width: 100px;
    margin-right: 10px;
}
#discover-img3
{
    height: 107px;
    object-fit: cover;
    padding-right: 60px;
    margin-right: 10px;
}
} */

