#category-header {
  background: linear-gradient(#e3e9ed, #ffffff);
  height: 450px;
  display: flex;
  justify-content: space-between;
}
#category-header * {
  margin: 0;
  padding: 0;
}
#category-header .right-card-image,
#category-header .left-card-image {
  width: fit-content;
  flex: 0.3;
}
#category-header .right-card-image img {
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  float: right;
}
#category-header .left-card-image img {
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}
#category-header .head-cat-title {
  width: 100%;
  font-size: 41px;
  font-weight: bold;
  padding-top: 8%;
  text-align: center;
}
#category-header .descreption {
  text-align: center;
  padding-top: 8%;
  font-size: 18px;
  color: #6c757d;
}
.header-desc {
  flex: 0.4;
}
@media only screen and (max-width: 520px) {
  #category-header .right-card-image {
    display: none;
  }
  .header-desc {
    flex: 0.95 !important;
  }
}
/* meduim screen  */
@media only screen and (max-width: 1400px) {
  #category-header .left-card-image {
    display: none;
  }
  #category-header {
    height: 350px;
  }
  .header-desc {
    flex: 0.65;
  }
  #category-header h1 {
    font-size: 2rem !important;
    text-align: left !important;
    padding-left: 15px;
  }
  #category-header p {
    text-align: left !important;
    font-size: 1.1rem !important;
    padding-left: 15px;
  }
  #category-header .right-card-image {
    flex: 0.35;
    height: 70%;
  }
  #category-header .descreption {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #category-header {
    height: fit-content;
  }
  .header-desc {
    flex: 0.65;
  }
  #category-header h1 {
    font-size: 1.4rem !important;
    padding-left: 15px;
  }
  #category-header p {
    font-size: 0.8rem !important;
    padding-left: 15px;
  }
  #category-header .right-card-image {
    flex: 0.35;
    height: 100%;
  }
  #category-header .head-cat-title {
    padding: 30px 0 0 20px;
  }
  #category-header img {
    min-height: 200px;
  }
}
