#s {
  height: 250px;
}
#CategoryHeader
{
  background-color: rgb(239, 242, 242);
}

#category-header .rightImageCard img {
  width: 70%;
  float: right;
  /* padding-top: 5%; */
}
#category-header .leftImageCard img {
  float: left;
  /* padding-top: 5%; */
  width: 70%;
}
#category-header .title {
  width: 100%;
  font-size: 41px;
  font-weight: bold;
  padding-top: 8%;
  text-align: center;
}
#category-header .descreption {
  text-align: center;
  padding-top: 8%;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  #category-header .leftImageCard {
    display: none;
  }
  #category-header .rightImageCard {
    display: none;
  }
  #category-header .title {
    text-align: center;
    margin-bottom: 40px;
  }
  #category-header .descreption {
    text-align: center;
  }

  #category-header .titleWdescreption {
    margin: 0;
    height: 100%;
  }
}
/* meduim screen  */
@media only screen and (max-width: 992px) {
  #category-header .leftImageCard {
    display: none;
  }
  #category-header .rightImageCard img {
    width: 180px;
    height: 250px;
  }
}
@media only screen and (max-width: 770px) {
  #category-header .rightImageCard {
    display: none;
  }
  #category-header .title {
    text-align: center;
  }
  #category-header .descreption {
    text-align: center;
  }
}
#category-header .titleWdescreption {
  margin: 0;
  height: 100%;
}
