.community .title {
  margin-top: 4%;
  margin-left: 10%;
  font-size: xx-large;
  color: black;
}
.community strong {
  color: blue;
}
.community .photo {
  margin-left: 800px;
  margin-top: -22%;
  margin-right: 20px;
}
.community .text {
  margin-left: 10%;
  color: rgb(52, 51, 51);
}
.community .button {
  background-color: #1273eb;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 10%;
  cursor: pointer;
}
.community .container {
  border-radius: 20px;
  margin-top: 10%;
  background: #afd0e8;
  padding: 10px;
  width: 2000px;
  height: 270px;
}
.community .row {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .community .text,
  .community .title,
  .community .photo {
    flex-direction: column;
  }
}
