* {
  box-sizing: border-box;
}
.circle-card {
  background-color: #4055c7;
  padding: 60px 10px 60px 40px;
  width: 100%;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.circle-card::-webkit-scrollbar {
  display: none;
}
.circle-card .circle-element {
  min-width: 150px;
  height: 140px;
  display: inline-block;
}
.circle-card img {
  border: 3px solid rgb(76, 76, 236);
  outline-style: solid;
  outline-color: rgb(190, 210, 246);
}
.circle-card .circle-element img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  cursor: pointer;
  zoom: 2px;
}
.circle-card .circle-element img:hover {
  opacity: 1;
}
.circle-card .text {
  color: rgb(252, 245, 245);
  font-size: 17px;
  text-align: center;
  width: 100px;
  padding: 10px 0px;
}

.circle-link {
  text-decoration: none;
}
