#trend-content {
  box-sizing: border-box;
  outline: none;
  font-family: "Proxima Nova", Verdana, "Avenir Next";
  position: relative;
  width: 100%;
  align-self: center;
  justify-content: center;
  padding:0px 10px
}
#trending-content::marker {
  content: none;
}

.trend-zoom {
  width: 100%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  align-self: center;
}
.trend-zoom .trendimg {
  width: 100%;
  object-fit: contain;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.trend-zoom:hover .trendimg {
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.trendtext {
  color: white;
  position: absolute;
  bottom: 0;
  margin: 5%;
  font-size: 100%;
  width: fit-content;
}
#trending {
  box-sizing: border-box;
  outline: none;
  font-family: "Proxima Nova", Verdana, "Avenir Next";
  float: none;
  margin: 0 auto;
  display: block;
  text-align: left;
  color: rgb(58, 71, 85);
  padding: 30px 0px;
  width: 100%;
  background-color: #f8fafb !important;
}
#trending #explore-title {
  text-align: center;
  font-size: 23px;
  width: 100%;
  padding: 0px 25px;
}
#trending strong {
  color: rgb(53, 113, 227);
}
#trending .text-muted {
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding: 10px 20px 25px 20px;
}
.trenditem {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}
.trendimg{
	filter: brightness(0.8);
}
.trendimg:hover{
	filter: brightness(0.7);
}
#exploretrend {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 60%;
  overflow-x: scroll;
  margin-left: 20px;
}
#exploretrend::-webkit-scrollbar {
  display: none;
}
@media (max-width:1096px){
  .trend-zoom{
 	border-radius: 10px;
  }
}
@media screen and (min-width: 1096px) {
  .trend-zoom{
	border-radius: 5px;
  }
  #trending {
    padding: 50px 0px;
  }
  .text-muted {
    font-size: 13.5px;
  }

  #explore-title {
    font-size: 22px;
  }
  .trendtext {
    color: white;
    position: absolute;
    bottom: 0;
    margin: 15px;
    width: 100%;
    font-size: 1.2rem;
  }
  #exploretrend {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-count: 4;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    row-gap: 10px;
	/* border-radius: 4% / 14%; */
  }
  #trending #explore-title {
    text-align: center;
    font-size: 30px;
    width: 100%;
  }
  #trending .text-muted {
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
  .trenditem {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }
  #Freedom {
    display: flex;
    position: relative;
    grid-row: span 2;
    grid-area: 1/1/3/3;
    align-content: center;
  }
}

