@import '../../assets/styles/global.scss';
@mixin fontStyling {
    white-space: initial;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.cat-card{
    width: 200px;
    margin: 5px 0px 5px 0px;
    height: 100px;
    .cat-card-wrapper{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
    }
    a{
        text-decoration: none;
    }
    img{
        border-radius: 20px;
        width: 95%;
        position: absolute;
        background: transparent;
        object-fit: cover;
    }
    h5{
        width: 95%;
        height: 97.7px;
        padding-top: 25px;
        position: absolute;        
        text-align: center;
        background-color: #08192b80;
        color: white;
        border-radius: 20px;
    }
    h5:hover{
        background-color: #08192bac;
    }
}