.sidebarcontent {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 17rem;
  position: sticky;
  min-height: 50rem;
  max-height: 100%;
  padding-right: 2%;
}
.pushed .sidebarcontent {
  border-right: 2px solid #e3e9ed;
  border-top: 2px solid #e3e9ed;
}
.translatex100 {
  transform: translateX(-100px);
}
.translatex100 .sidebarcontent {
  border-top: 1px solid #e3e9ed;
  padding-top: 10px;
}
.translatex0 {
  transform: translateX(0);
}
.sidebarcontent::-webkit-scrollbar {
  width: 5px;
  max-height: 30%;
  height: 30%;
}
.tagbar::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
  height: 0%;
}
.filters {
  background-color: white;
}
.tw-w-0 .filters {
  background-color: transparent;
}
#sidebarr {
  border: 10px black;
  background-color: white;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgb(165, 183, 198);
}

.collapsebtn {
  border-radius: 0em;
  transition: 0s;
}
.sidebarrow {
  transition: 0s;
}
.btn-collapse {
  border: 0ch;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.66;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  transition: 0s;
}
.side-tag {
  margin-left: 0px;
  width: max-content;
  padding: 4px 5px;
}
.sidebar {
  margin-left: 38px;
  height: 100%;
}
.sidebar-content {
  background-color: white;
  /* overflow-y: visible; */
  /* padding: 10px; */
  margin-left: 30%;
}
.resultheader {
  font-size: 26px;
  padding-top: 6.2rem;
  padding-bottom: 1rem !important ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.sidetag {
  border-radius: 8px;
  padding: 10px;
  color: #374957;
  font-weight: 400;
  margin: 0;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 14px;
  white-space: nowrap;
  margin-left: 0px;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
}
.search-description {
  font-size: 17px;
  font-weight: 100 !important;
  margin-left: 25%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.pushed {
  left: 270px;
  width: 75%;
  position: relative;
}
.sidebar-content .collapse.show {
  transition: 0s;
  margin: -40px 0 0 2px !important;
  padding: 0px !important;
}
.collapseicon {
  font-weight: 600;
  font-size: 18px;
}
.toggle-label {
  color: #5f7d95;
  left: 0;
  position: absolute;
  width: 80%;
}
.toggle-switch {
  position: relative;
  left: 110%;
}
.tagbar {
  left: 200px;
  overflow-x: scroll;
  max-width: 80%;
  background-color: white;
  display: flex;
  position: absolute;
}
.pushed-tagbar {
  left: 2%;
  max-width: 90%;
}
.tag-icon {
  padding: 0px 5px;
}
.tag-class {
  margin: 0 em;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 15px;
  padding-top: 0px;
}
.type {
  font-weight: 700;
  border-radius: 8px;
  padding: 10px 15px;
  color: #374957;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0;
  /* margin-top: 20px; */
  width: fit-content;
  background-color: white;
}
.tag:hover,
.type:hover,
.sidetag:hover {
  background-color: rgb(241 245 249);
  color: black;
  border: 1px solid #cfd9e0;
}

.tag:focus,
.type:focus {
  background-color: rgb(241 245 249) !important;
  color: black !important;
  border: 1px solid #cfd9e0 !important;
}
.sidetag:focus {
  background-color: rgb(18, 115, 235) !important;
  color: white !important;
}
.sidetag:focus p {
  color: white;
}
.collapsep {
  font-size: 12px;
  color: #5f7d95;
  font-weight: 600 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tag {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 10px 15px;
  color: #374957;
  font-weight: 400;
  margin: 0;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 14px;
  white-space: nowrap;
  flex-shrink: 0;
  width: fit-content;
  background-color: white;
  height: 46px;
}

.tag-class {
  box-sizing: border-box;
  outline: none;
  line-height: 1.66;
  flex-shrink: 0;
  /* margin-top: 20px; */
  background-color: white;
}
.filters {
  /* margin: 0 !important;
	padding: 0 !important; */
  padding-top: 10px;
  display: initial;
  flex-shrink: 0;
}
.filtersbtn {
  margin: 0 20 0 0;
  padding: 0px 30px;
  display: block;
  background: #eff3f6;
  color: #374957;
  font-weight: 600;
  border-radius: 8px;
  line-height: 34px;
  max-width: initial;
  min-width: initial;
  box-shadow: none;
  margin-right: 20px;
  justify-content: center;
  height: 44px;
  font-size: 16px;
  cursor: pointer;
  transition: 250ms linear;
  text-transform: none;
  font: inherit;
  flex-shrink: 0;
  display: flex;
  width: fit-content;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.66;
  -webkit-font-smoothing: antialiased;
  margin-top: -20px !important;
}
.collapse.show {
  visibility: visible;
}
.collapse.arrow {
  rotate: 90px;
}
.sidetag-icon {
  padding: 0px 5px;
}
.sidetag p {
  font-size: 14px;
  color: #374957;
}
.sidebarrow {
  padding: 0px 6.5px 0px !important;
}
.link {
  color: rgb(29, 123, 239);
}
.cancel {
  color: rgb(192, 201, 215);
}
.color-row {
  padding: 5px 2px 20px !important;
}
.colorr {
  padding: 2px 16px 27px;
}
@media only screen and (max-width: 1095px) {
  .filterscont,
  .sidebarcontent,
  #sidebarr {
    display: none !important;
    transform: scale(0);
  }
  .pushed {
    left: 0% !important;
    width: 100% !important;
  }
  .tagbar,
  .pushed-tagbar {
    left: 1% !important;
    max-width: 98%;
    margin: 0 auto;
  }
  .pushed .sidebar-content {
    border-right: 1px solid #e3e9ed;
  }
}
@media only screen and (max-width: 767px) {
  .tagbar,
  .pushed-tagbar {
    left: 1% !important;
    width: 100% !important;
    top: 10.7% !important;
  }
  .page-3d .tagbar,
  .page-3d .pushed-tagbar,
  .fonts-page .tagbar,
  .fonts-page .pushed-tagbar {
    top: 4% !important;
  }
}

.page-3d .tagbar {
  left: 4%;
}

div,
span,
p,
h1,
h2,
h3,
h4,
h5,
a,
i {
  /* border: 1px dotted black; */
}

.borda {
  border-right: 1px solid #e3e9ed;
}
