.icon {
  padding: 0px 5px;
}

.tag-class {
  margin: 0 em;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 15px;
  padding-top: 0px;
}

.type {
  font-weight: 700;
  border-radius: 8px;
  height: 44px;
  padding: 10px 15px;
  color: #374957;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0;
  margin-top: 20px;
  width: fit-content;
  background-color: white;
}
.tag:hover,
.type:hover,
.sidetag:hover {
  background-color: rgb(241 245 249);
  color: black;
  border: 1px solid #cfd9e0;
}

.tag:focus,
.type:focus {
  background-color: rgb(241 245 249) !important;
  color: black !important;
  border: 1px solid #cfd9e0 !important;
}
.sidetag:focus {
  background-color: rgb(18, 115, 235) !important;
  color: white !important;
}
.sidetag:focus p {
  color: white;
}
.collapsep {
  font-size: 12px;
  color: #5f7d95;
  font-weight: 600 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
.sidebar-content{
 overflow-y: scroll !important; 
} */
.tagbar {
  /* background-color: black; */
}
.tag {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 10px 15px;
  height: 44px;
  color: #374957;
  font-weight: 400;
  margin: 0;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 14px;
  white-space: nowrap;
  flex-shrink: 0;
  width: fit-content;
  background-color: white;
}

.tag-class {
  box-sizing: border-box;
  outline: none;
  line-height: 1.66;
  flex-shrink: 0;
  margin-top: 20px;
  /* background-color: white; */
}

.type-class {
  /* background-color: white; */
}
.filters {
  margin: 0 20 0 0;
  padding: 0px 30px;
  display: initial;
  flex-shrink: 0;
}
.filtersbtn {
  margin: 0 20 0 0;
  padding: 0px 30px;
  display: block;
  background: #eff3f6;
  color: #374957;
  font-weight: 600;
  border-radius: 8px;
  line-height: 34px;
  max-width: initial;
  min-width: initial;
  box-shadow: none;
  margin-right: 20px;
  justify-content: center;
  height: 46px;
  margin-top: -2px;
  font-size: 16px;
  cursor: pointer;
  transition: 250ms linear;
  text-transform: none;
  font: inherit;
  flex-shrink: 0;
  display: flex;
  width: fit-content;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.66;
  -webkit-font-smoothing: antialiased;
}
.collapse.show {
  visibility: visible;
}
.collapse.arrow {
  rotate: 90px;
}
.sidetag-icon {
  padding: 0px 5px;
}
.sidetag p {
  font-size: 14px;
  color: #374957;
}
.sidebarrow {
  padding: 12px 6.5px 0px !important;
}
/*.collapse.show{
  min-height: 5px;
  max-height:20px ;
}*/
.link {
  color: rgb(29, 123, 239);
}
.cancel {
  color: rgb(192, 201, 215);
}
.color-row {
  padding: 5px 2px 20px !important;
}
.colorr {
  padding: 2px 16px 27px;
}

