.sidebarcontent {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  max-width: 17rem;
  position: sticky;
}
::-webkit-scrollbar {
  width: 5px;
  max-height: 30%;
  height: 30%;
}

.filters{
  background-color: white;
}
#sidebarr{
  background-color: white;
 height: 50px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(255, 255, 255);
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 40px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgb(165, 183, 198);
}

.collapsebtn {
  border-radius: 0em;
}

.btn-collapse {
  border: 0ch;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.66;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

.side-tag {
  margin-left: 0px;
  width: max-content;
  padding: 4px 5px;
}
.sidebar {
  margin-left: 2%; 
  height: 100%;
}
.sidebar-content {
  overflow-y: visible;
  background-color: white;
  /* padding: 10px; */
  margin-left: 30%;
  height: 1hz;
  z-index: -3;
}
.resultheader {
  font-size: 26px;
  padding-top: 6.2rem;
  padding-bottom: 1rem !important ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.tagbar{
  width: 50%;
    background-color: white;
}
.sidetag {
  border-radius: 8px;
  padding: 10px;
  height: 44px;
  color: #374957;
  font-weight: 400;
  margin: 0;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 14px;
  white-space: nowrap;
  margin-left: 0px;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
}


.search-description{
  font-size: 17px;
  font-weight: 100 !important;
  margin-left: 25%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  margin-bottom: 2rem
}
.sort{
  color:#5f7d95;
  font-size: 14px;
  margin-left: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
}
.sort-by-dropdown{
  color:black !important;
  border: 0px ;
  background-color: white !important;
  font-weight: 500 !important;
  font-size: 14px ;
  
}
.sortmenu{
  border-radius: 1ch;
  border: 0px;
  z-index: 5;
  padding: 0px ;
}
.sortbtn1{
  border-top-left-radius: 1ch;
  border-top-right-radius: 1ch;
}
.sortbtn2{
  border-bottom-left-radius: 1ch;
  border-bottom-right-radius: 1ch;
}

.sort-by-dropdown:hover,.sort-by-dropdown:focus{
  color:black !important;
  border: 0px;
  background-color: white !important;
}
.sortbtn1:focus,.sortbtn2:focus{
  background-color: #e9ecef ;
  color: black;
}
.unchecked{
  margin-left: 15%;
}

.pushed{
 left: 15%;
}