.cat-full-list{
    width: 100%;
	background-color: #fff;
}

.full-list-wrapper{
    min-height: 200px;
    margin: 0 auto;
    display: grid;
	margin-left: 20px;
	h5{
		top: 3.5rem;
		font-size: 1.3rem !important;
	}
}


@media screen and (max-width: 500px) {
    .full-list-wrapper{
        width: 95%;
        grid-template-columns: repeat(2, 2fr) !important;
        .cat-card{
            scale:1.3;
			h5{
				top: 1.2rem;
			}
        }
        .card-wrapper{
            padding: 20px 20px 20px 40px;
        }
    }

}
@media screen and (max-width: 600px) {
    .full-list-wrapper{
        width: 100%;
        grid-template-columns: repeat(3, 3fr);
        .cat-card{
            scale:1;
            h5{
				top: 1.9rem;
				font-size: 1rem !important;
			}
        }
        .card-wrapper{
            padding: 1%;
        }
    }

}


@media screen and (min-width: 600px) {
    .full-list-wrapper{
        width: 85%;
		margin-left: 10%;
        grid-template-columns: repeat(2, 1fr);
        .cat-card{
            scale:1;
        }
        .card-wrapper{
            padding: 0px;
        }
    }
}

@media screen and (min-width: 850px) {
    .full-list-wrapper{
		margin-left: 5%;
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        .cat-card{
            scale:1;
        }
        .card-wrapper{
            padding: 0px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .full-list-wrapper{
		margin-left: 5%;
        width: 92%;
        grid-template-columns: repeat(4, 1fr);
        .cat-card{
            scale:1;
        }
        .card-wrapper{
            padding: 0px;
        }
    }
}

@media screen and (min-width: 1340px) {
    .full-list-wrapper{
		margin-left: 5%;
        width: 90%;
        grid-template-columns: repeat(5, 1fr);
        .cat-card{
            scale:1;
        }
        .card-wrapper{
            padding: 0px;
        }
    }
}