.name-3d {
  position: absolute;
  left: 5%;
  transition: top 0.1s ease-in-out !important;
  top: -10%;
  visibility: hidden;
  z-index: -50;
  justify-content: end;
}
.desc-3d {
  visibility: hidden;
  position: absolute;
  bottom: 0%;
  background: linear-gradient(
    180deg,
    rgba(8, 25, 43, 0.5) 32.05%,
    rgba(8, 25, 43, 0.75) 100%
  );
  width: 100%;
  height: 100%;
  background-size: 10%;
  opacity: 100%;
  border-radius: 0.3ch;
}
@media only screen and (max-width: 1095px) {
  .card-3d-wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: 222px;
    aspect-ratio: 1;
    margin-top: 10%;
  }
}
@media only screen and (min-width: 1096px) {
  .card-3d-wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: 195px;
    aspect-ratio: 1;
    margin-top: 10%;
  }
  .card-3d-wrapper:hover .desc-3d {
    visibility: visible;
    background-position: 100% 100%;
  }
  .card-3d-wrapper:hover .name-3d {
    visibility: visible;
    top: 4%;
    visibility: visible;
    z-index: 0;
  }
  .card-3d-wrapper:hover .avatar1 {
    top: 17%;
    visibility: visible;
    z-index: 0;
  }
  .card-3d-wrapper:hover .owner-3d {
    top: 18%;
    visibility: visible;
    z-index: 0;
  }
}
.search-content {
  overflow: hidden;
}
@media only screen and (max-width: 790px) {
  .card-3d-wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: 280px;
    aspect-ratio: 1;
    margin-top: 10%;
  }
}
.photo-3d {
  border-radius: 0.3ch;
  width: 100%;
}

.avatar1 {
  position: absolute;
  border-radius: 5ch;
  width: 13%;
  top: -2%;
  left: 5%;
  visibility: hidden;
  transition: top 0.1s ease-in-out !important;
}
.owner-3d {
  position: absolute;
  top: -1%;
  left: 20%;
  font-size: 14px;
  font-weight: 100;
  visibility: hidden;
  transition: top 0.1s ease-in-out !important;
}
.pinterest {
  border-radius: 0.2ch;
  position: absolute;
  top: 5%;
  left: 80%;
  font-size: 14px;
  font-weight: 100;
  width: 15%;
}

.layout-3d {
  margin-left: 3%;
  margin-right: 3%;
}
.next3d {
  width: 190px !important;
  height: 52px;
  left: -1%;
  position: relative;
  margin-top: 10%;
}
