.wepik-logo {
    height: 50px;
}

.wepik-header {
    line-height: 1.90;
    font-size: 30px;
    font-weight: 100;
    padding-top: 30px;
}

.wepik-cont {
    display: flex;
    background-color: #f8fafb;
    padding: 20px 150px;
}

.wepik-paragraph {
    padding-top: 30px;
    font-size: 20px;
    color: #869fb2;
}

.wepik-btn {
    background-color: rgb(41, 112, 244);
    margin-top: 30px;
}

.wepik {
    padding: 80px;
    padding-left: 0;
    padding-right: 0;
}

.wepik-photo img {
    margin-right: 10px;
    max-height: 600px;
}