
.creator-collection-title
{
    padding-left: 5%;
    font-size: 28px;
    font-weight: bold;
    color: rgb(69, 70, 70);
}
.creator-collection-p
{
    padding-top: 1%;
    padding-left: 5%;
    font-size: 18px;
    color: rgb(91, 92, 92);
}
.Explore-btn
{
  font-size: medium;
  font-weight: 500;
    padding-left: 30%;
    color: rgb(77, 77, 247);
    width: 40%;
}
.right-arrow
{
    padding-left: 0.5%;
    color: rgb(77, 77, 247);
}
.Explore-btn::after {
        display: inline-block;
        padding-left: 8px;
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        
}
.right-arrow:hover
{
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

#creator-collection
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  outline: none;
  position: relative;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 6%;
}
#creator-collection::marker {
    content: none;
  }
  .creator-collection-div{
    width: 100%;
      overflow: hidden;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  
  }
  .creator-collection-div .creator-collection-img {
    height: 100%;
    width: 290px;
    object-fit:contain;
    position: relative;
    border-radius: 20px;
  }
   .creator-collection-div:hover .creator-collection-img{
    -moz-transform: scale(1.009);
      -webkit-transform: scale(1.4);
      transform: scale(1.013);
    filter: brightness(.8);
  } 
    .creator-collection-div:hover .creator-collection-text
  {
    padding-bottom: 1%;
   }
  #resoursess
  {
    display: none;
    font-size: small;
    margin-left: 19%;
  }
  .creator-collection-div:hover #resoursess
  {
    display: flex;
    -moz-transform: scale(1.009);
      -webkit-transform: scale(1.4);
      transform: scale(1.009);
  }

  .creator-collection-text {
    color: white;
    position: absolute;
    bottom: 5px;
    margin: 10px;
    width:content;
    padding-left: 5%;
  }
  .creator-collection-img1
  { 
    height: 100%;
    width: 300px;
    object-fit:contain;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    position: absolute;  
    rotate: 5deg;
    width: 290px;
    border-radius: 20px;
  }