*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#iamge-card-text {
    width: 100%;
    min-height: 100vh;
    display:grid;
    place-items:center
}
#iamge-card-text .row
{
    width:80%;
    max-width: 1170px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px; 
}
.row .leftPhotoCard
{
    overflow: hidden;
}
.row .leftPhotoCard img
{
    
    width: 100%;
    height: 100%;
    object-fit:fill;
    grid-column: 3;
    
}
.row .rightPargraph 
{
display:flex;
align-items:center
}
.row .rightPargraph .content
{
    padding-left: 20px;
}
.row .rightPargraph .content h3{
    font-size: 25px;
    line-height: 26px;
    padding-bottom: 15px;
}
.row .rightPargraph .content p
{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
@media (max-width:991px)
{
    .row .rightPargraph .content
    {
        padding-right: 0;
    }
}

@media (max-width:768px)
{
    #iamge-card-text .row{
        width:90%;
        grid-template-columns:1fr;
    }
}