#preview-modal {
  position: fixed;
  width: 100vw;
  min-height: 1500px;
  top: 0;
  z-index: 1999;
  background-color: rgba(8, 25, 43, 0.85);
  backdrop-filter: blur(5px);
}

#preview-modal #main-content {
  margin-top: 20px;
  background-color: white;
  height: calc(100vh - 20px);
  border-radius: 10px;
  overflow: scroll;
}

#preview-modal .bg-fill-animation {
  color: white;
  opacity: 100% !important;
  width: 44px;
  height: 44px;
  transition: all 0.3s ease 0.01s !important;
}

#preview-modal #exit-btn {
  margin-top: 20px;
}

#preview-modal a:hover {
  /* background-color: rgb(85, 97, 109); */
}

.my-modal-btn {
  background-color: green;
}

.img-content {
  display: flex;
  justify-content: space-between;
}
.img-content .img-wrapper {
  padding: 15px 0px 20px 10px;
  max-width: 60%;
  margin: 0 auto;
}
.img-content .img-wrapper img {
  max-height: 600px;
}

.img-content .img-info {
  width: 35%;
  margin: auto auto;
}

#main-content .related-tags {
  display: flex;
  overflow: scroll;
  margin-bottom: 10px;
}
.download-btn span {
  margin-left: 5px;
}
.download-btn {
  width: 100%;
  background-color: #59c58b;
  color: white;
  margin-bottom: 30px;
  border-radius: 8px;
  font-size: 1.3em;
  padding: 12px 30px 12px 15px;
}

.flex-div {
  display: flex;
}
.info-row {
  padding-bottom: 10px;
}
.info-row h3 {
  font-size: 0.9em;
}
.info-row i {
  padding: 0px 10px 0px 0px;
}
.info-row a {
  margin-left: 10px;
  font-size: 0.9em;
  color: gray;
}
.info-row a:hover {
  background-color: none !important;
  color: black !important;
}

.file-type {
  padding-left: 5px;
}

.author-media {
  width: 64%;
  display: flex;
  justify-content: space-between;
  color: black;
}
.author-profile h6 {
  font-size: 0.8em;
}

.media-share {
  display: flex;
  padding: 0px 10px;
}

.author-img {
  padding-right: 10px;
}
.author-img img {
  width: 30px;
}
.author-profile {
  display: flex;
}

.media-btn {
  padding: 11px 15px 5px 15px;
  margin: 0px 5px 5px 5px;
  border-radius: 10px;
  background-color: #f0f3f7;
  display: flex;
  font-size: 0.7em;
}
.media-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.media-btn i {
  padding-right: 5px;
}
.media-btn {
  line-height: 1.4;
  max-height: 35px;
}
.author-media .pint {
  padding: 8px;
}

.author-profile .folow {
  padding: 5px;
}
.folow h5 {
  line-height: 2;
  padding: 0px 3px;
  font-size: 1.2em;
}

.img-title {
  padding: 30px 15px 20px 0px;
}

.img-more-desc h4 {
  color: rgb(41, 41, 41);
  padding: 10px 0px 10px 0px;
}

.img-rtag {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 7px;
  font-size: 0.9em;
  color: rgb(34, 33, 33);
  min-width: fit-content;
}
.img-rtag:hover {
  background-color: rgb(250, 244, 236);
  color: black;
}
.img-rtag i {
  padding-right: 5px;
}
.au-images-1,
.au-images-2 {
  display: -webkit-box;
  overflow: scroll;
}
.au-img-wrapper {
  margin: 5px;
}
.au-img-wrapper:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.au-images-1 .au-img-wrapper img {
  border-radius: 10px;
  height: 150px;
}

.au-images-2 .au-img-wrapper img {
  border-radius: 10px;
  height: 200px;
}

/* media query max-width 1000px */
@media screen and (max-width: 1000px) {
  .img-content {
    flex-direction: column;
  }
  .img-content .img-wrapper {
    max-width: 100%;
  }
  .img-content .img-info {
    width: 100%;
  }
  .author-media {
    width: 100%;
    margin-top: 30px;
  }
  .media-btn {
    height: fit-content;
    padding: 10px 10px 10px 15px !important;
  }
  .media-btn i {
    scale: 1.4;
  }
  .media-btn h5 {
    display: none;
  }
  .folow {
    display: none;
  }
}
