#sidebar {
  width: 100%;
  height: 100%;
  background-color: white;
}

// for debugging

.head-item {
  padding: 20px 25px 20px 15px;
  border-bottom: 1px solid #e6e6e6;
}

.filter-item {
  padding: 15px 25px 15px 15px;
  .action-button i {
    font-size: 0.7rem;
  }
  .info {
    width: 16px;
    height: 16px;
    line-height: 13px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 0.75rem;
    font-weight: bold;
    color: #b9cbdf;
    border: 3px solid #b9cbdf;
  }
}

.sidebar-item {
  .sidebar-item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  display: flex;
  flex-direction: column;
  i {
    color: #4a6375;
  }
  .icon-title {
    display: flex;
    align-items: center;
    list-style: none;
    .item-title {
      padding-left: 8px;
      font-size: 1rem;
      color: #1d262d;
    }
    i {
      font-size: 0.9rem;
    }
  }
  .tags-list {
    display: flex;
    flex-wrap: wrap;
  }
  .tag-item-wrapper {
    width: fit-content;
    .tag-item {
      display: flex;
      align-items: center;
      padding: 10px 18px;
      outline: 1px solid #e6e6e6;
      border-radius: 10px;
      width: fit-content;
      margin: 12px 10px 0px 0px;
      color: #374957;
      i {
        padding-right: 8px;
      }
      p {
        margin: 0;
        white-space: nowrap;
        font-weight: 100;
      }
      .tag-new {
        margin-left: 4px;
        color: rgb(3, 174, 3, 0.8);
        font-weight: 800;
      }
    }
  }
}
