footer {
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  background-color: #1d262d;
}

footer .list-unstyled {
  line-height: 1.90;
  font-size: 15px;
  box-sizing: border-box;
  background-color: transparent;
  color: #869fb2;
}

footer .row {
  color: #ffffff;
  opacity: .80;
  margin: 10px;
  font-size: 18px;
}


footer .footer-button {
  color: #bac8d3;
  padding-top: 20px;
  border-top: 1px solid #374957;
  display: flex;
}

footer .ficon {
  color: rgb(54, 102, 225);
  margin-right: 3%;
}

footer .ticon {
  color: rgb(54, 139, 225);
  margin-right: 3%;
}

footer .picon {
  color: rgb(217, 60, 33);
  margin-right: 3%;
}

footer .iicon {

  color: rgb(166, 11, 70);

  margin-right: 3%;

}

footer .yicon {
  color: rgb(217, 60, 33);
  margin-right: 3%;
}

footer .dropdown-loc {
  display: flex;
  justify-content: flex-end;
}

footer .footer-hover:hover {
  color: #bac8d3;

}