/* .py-5 {
    background-color: #170f3c;
    height: 200px;
    width: 240px;
    align-items: center;

}
.mx-3 {
    background-color: rgb(35, 148, 229);
}

.mt-4 {
    background-color: rgb(18, 57, 186);
} */

.my-footer {
  line-height: normal !important;
}
