$main-color: #4055c7;
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@mixin resetBootstrap() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0px;
  ul{
    list-style: none;
  }
}

@mixin AnchorFontStyle() {
    color: white;
    text-decoration: none;  
    font-size: 13.5px;
    font-weight: 600;
    text-decoration: none;
}

.navbar{
    background-color: $main-color;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-wrap: nowrap;

    a{
        img{
            width: 190px;
            padding: 3px 3px 3px 10px;
        }
    }
    span{
        img{
            width: 30px;
            padding: 1px;
        }
    }
    .navbar-toggler{
        border: none;
        padding: 10px
    }
    .nav-menu{
        @include resetBootstrap();
        ul{
            display: flex;
            @include resetBootstrap();
        }
        li{
            list-style: none;
            margin-top: 5px;
        }
        a{
            @include resetBootstrap();
            text-decoration: none;
            @include AnchorFontStyle();
            padding-left: 20px;
       }
       .btn{
            @include resetBootstrap();
            padding: 0px 2px 0px 2px;
            border-radius: 2px;
            margin-left:4px ;
            font-size: 10px;
            background-color: white;
            color: black;
        }
        margin: 15px    

    }
    .nav-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;    
    }
    .pricing-nav{
        @include resetBootstrap();
        display: flex;
        color: white;
        ul{
            margin: 10px 0px;
            display: flex;
        }
        li{
            margin: 10px
        }
        a{
            @include AnchorFontStyle();
        }
        .pricing-color{
            color: #f7b500;
        }
    }
    a:hover,button:hover{
        color: #c8c7c7 !important;
    }
}

.nav-menu-user{
    @include resetBootstrap();
    ul{
        display: flex;
        @include resetBootstrap();
        a{
            @include AnchorFontStyle();
            min-width: 50px;
        }
        li{
            margin:10px;
            min-width: 45px;
        }
        button{
            min-width: 70px;
            background-color: transparent;
            border: white 1px solid;
            border-radius: 4px;
            @include AnchorFontStyle();
        }
    }
    
}
.bi-caret-down-fill::before{
    scale: 0.8;
    margin-top: 5px;
}
// media queries
@media (max-width: 1150px) {
    .nav-menu{
        display: none;
    }
    .pricing-nav{
        display: none !important;
    }
    .nav-logo{
        display: none;
    }
    .navbar-toggler{
        display: unset !important;
    }
}