$main-color: #4055c7;
$dark-color: #252a31;
$anchorColor2: #a9b6c4;
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@mixin resetBootstrap() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0px;
  ul{
    list-style: none;
  }
}
@mixin arrowDown() {
    position: absolute;
    transform: rotateX(180deg);
    margin-top: 28px;
    scale: 1.25;
    color:$dark-color !important;
}
@mixin AnchorFontStyle() {
    color: white;
    text-decoration: none;  
    font-size: 13.5px;
    font-weight: 600;
    text-decoration: none;
}

@mixin popUpBox {
    background-color: $dark-color;
    top: 60px;
    left: 0;
    border-radius: 10px;
    padding: 15px 25px 25px;
    position: absolute;
    li{
        list-style: none;
        padding: 10px;
        line-height: 30px;
        @include resetBootstrap();
        a{
            @include AnchorFontStyle();
            color: #a9b6c4 !important;
        }
        a:hover,button:hover{
            color: white !important;
        }
        
    }
}

.navbar{
    background-color: $main-color;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    a{
        img{
            width: 190px;
            padding: 3px 3px 3px 10px;
        }
    }
    span{
        img{
            width: 30px;
            padding: 1px;
        }
    }
    .navbar-toggler{
        border: none;
        padding: 10px
    }
    .nav-menu{
        @include resetBootstrap();
        ul{
            display: flex;
            @include resetBootstrap();
        }
        li{
            list-style: none;
            margin-top: 5px;
        }
        a{
            @include resetBootstrap();
            text-decoration: none;
            @include AnchorFontStyle();
            padding-left: 20px;
        }
         margin: 15px    

    }
    .nav-menus{
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;    
    }
    .pricing-nav{
        @include resetBootstrap();
        display: flex;
        color: white;
        ul{
            margin: 10px 0px;
            display: flex;
        }
        li{
            margin: 10px
        }
        a{
            @include AnchorFontStyle();
        }
        
    }
    a:hover,button:hover{
        color: #a9b6c4 !important;
    }
}

.pricing-color{
    color: #f7b500 !important;
}
.side-cat-list,.side-more-list{
    display: flex;
    justify-content: space-between;
}
.btn-new{
    @include resetBootstrap();
    padding: 1px 3px 1px 3px;
    border-radius: 4px;
    margin-left:4px ;
    font-size: 8px;
    font-weight: 600;
    background-color: white;
    color: blue !important;
}
.nav-menu-user{
    @include resetBootstrap();
    ul{
        display: flex;
        @include resetBootstrap();
        a{
            @include AnchorFontStyle();
            min-width: 50px;
        }
        li{
            margin:10px;
            min-width: 37px;
        }
        button{
            min-width: 60px;
            background-color: transparent;
            border: white 1px solid;
            border-radius: 4px;
            height: fit-content;
            padding: 3px 0px 3px 0px;
            @include AnchorFontStyle();
        }
    }
    
}

.cat-drop-list{
    @include popUpBox();
    display: grid;
    width: 760px;
    grid-template-columns: repeat(4, 180px);
    grid-gap: 10px;
    margin-left: 20%;
}

.more-drop-list{
    @include popUpBox();
    margin-left: 30%;
    display: flex;
    min-height: 300px;
    width: 820px;
    padding: 20px 10px !important;
    ul{        
        width: 25%;
        height: 100%;
        display: block !important;
        padding: 15px 20px 15px 20px !important;
        h4{
            font-size: 15px !important;
            font-weight: 600;
            color: gray;
            padding-bottom: 5px;
        }
        
    }
}

.more-items{
    display: block;
    a{
        padding-right: 10px;
        @include resetBootstrap();
        h5{
            font-size: 15px;
            font-weight: 600;
        }
        h6{
            font-size: 14px;
            color: $anchorColor2;
        }
    }
}
.bi-caret-down-fill::before,.bi-caret-up-fill::before{
    scale: 0.8;
    margin-top: 5px;
}

.arrow-down-cat{
    @include arrowDown();
    margin-left: 381px;

}
.arrow-down-more{
    @include arrowDown();
    margin-left: 535.5px;

}
.hide-class{
    display: none !important;
}
.nav-cat{
    position: relative;
    background-color: #252a30;
}

.nav-2-props{
    box-shadow:inset 0px 15px 20px 0px rgb(25, 29, 33, 50%);
    top: 40px;
    border-radius: 0px 0px 10px 10px;
}
// media queries
@media (max-width: 1150px) {
    .nav-menu{
        display: none;
    }
    .pricing-nav{
        display: none !important;
    }
    .nav-logo{
        display: none;
    }
    .navbar-toggler{
        display: unset !important;
    }
    .side-menu-header{
        padding: 10px 0px 10px 25px;

        img{
            height: 15px;

        }
    }
    .side-menu{
        top: 0;
        left: 0;
        border-radius: 10px;
        position: absolute;
        width: 350px;
        max-width: 100vw;
        height: 100vh;
        background-color: #252a31;
        overflow-y: scroll;

        @include resetBootstrap();
        box-shadow: 20px 0px 0px 2000px rgb(0, 0, 0 , 30%);

        ul{  
            padding-top: 10px;
            padding-left: 0px;
        }
        li{
            padding-left: 23px !important;
            padding-right: 20px;
            height: 7vh;
            @include resetBootstrap();
            text-align: left;
            //vertical align center
            display: flex;
            align-items: center;
        }
        a{
            
            @include resetBootstrap();
            @include AnchorFontStyle();
            font-size: 16px !important;
            color: $anchorColor2;
            letter-spacing: 0.5px;
            font-weight: 600;
            &:hover{
                color: white !important;
            }
        }
    }
    .side-drop-list{
        border-radius: 10px;
        padding: 15px 25px 25px;
        max-width: 100vw;
        background-color: #2d333b;
        @include resetBootstrap();
        ul{
            padding-left: 23px;
            padding-right: 20px;
        }
        li{
            height: 7vh;
            @include resetBootstrap();
            text-align: left;
            //vertical align center
            display: flex;
            align-items: center;
            padding: 45px 0px 15px 40px !important;
        }
        a{
            @include resetBootstrap();
            @include AnchorFontStyle();
            font-size: 16px !important;
            color: $anchorColor2;
            letter-spacing: 0.5px;
            font-weight: 600;
            &:hover{
                color: white !important;
            }
        }
    }
}
// .side-menu{
//     display: none;
// }
.new-class{

    background-color: #252a30 !important;
    max-height: 40px !important;
    a, button{
        color: #a9b6c4 !important;
    }
    button{
        border: gray 1px solid !important;
        
    }
    a:hover,button:hover{
        color: white !important;
    }
    .nav-logo{
        display: none;
    }
    .nav-menu{
        margin-left: -10px !important;
    }
    .btn{
        border-radius: 2px;

    }
    .bi-caret-down-fill::before {
        margin-top: 0px !important; 
    }
}
