*{margin:0;
padding:0;
box-sizing: border-box;

}
.Sidebar{
    height: 20%;
    width: 50px;
}
.collapsebtn{
    border-radius: 0em;
}
.btn-collapse{
    border: 0ch;
    background-color: white;
    display: block;

}


.arrow{

    margin-left: 10px;
    float: right;

}
