.icon{
    width:1em;
    margin-bottom:7%;
    margin-right: 3px;
 aspect-ratio: 1/1;

}
body{
    color: #374957;
    font-family: 'Proxima Nova',Verdana,'Avenir Next';
    font-size: 16px;
    line-height: 1.66;
    -webkit-font-smoothing: antialiased
}
.type{
    font-weight: 700;
    border-radius:8px;
height: 44px;
padding: 10px 15px;
color:#374957;
border:1px solid #cfd9e0;
display: flex;
align-items: center;
flex-wrap: nowrap;
cursor: pointer;
font-size: 16px;

}
.tag{
    font-family: 'Proxima Nova',Verdana,'Avenir Next';
    border-radius: 8px;
    padding: 10px 15px;
    height: 44px;
    color: #374957;
    font-weight: 400;
    margin: 0;
    border: 1px solid #cfd9e0;
    
}

.filters{
   margin: 0 20 0 0;
    padding: 0px 30px;
    display: initial;
}
.filtersbtn{
    margin: 0 20 0 0;
    padding: 0px 30px;
    display: block;
    background: #eff3f6;
    color: #374957;
    font-weight: 600;
    border-radius: 8px;
    line-height: 34px;
    max-width: initial;
    min-width: initial;
    box-shadow: none;
    margin-right: 20px;
    justify-content: center;
    height: 44px;
    font-size: 16px;
    cursor: pointer;
    transition: 250ms linear;
    text-transform: none;
    font: inherit;
}

.offcanvas{
    margin-top:3%;
max-width:15%;
}
.btn-outline-secondary:click{
background-color: white;

}
.sidetag{
background-color: black;
    }