@tailwind base;
@tailwind components;
@tailwind utilities;
.icon{
    width:1em;
    margin-bottom:7%;
    margin-right: 3px;
 aspect-ratio: 1/1;
}
@media screen and (min-width:576px) {
.carousel-inner{
display: flex;
}
.carousel-item{
    display: block;
    flex:0 0 calc(100%/12);
    margin:0;
    
}
.carousel-inner{
    padding:1em;
   
}
}

.tag-class{
    margin: .0 em;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body{
    color: #374957;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    
}
.type{
    font-weight: 700;
    border-radius:8px;
height: 44px;
padding: 10px 15px;
color:#374957;
border:1px solid #cfd9e0;
display: flex;
align-items: center;
flex-wrap: nowrap;
cursor: pointer;
font-size: 16px;
flex-shrink: 0;
    margin-top:20px;
width: fit-content;
}
.tag:hover , .type:hover, .sidetag:hover, .sidetag:hover {
    background-color: rgb(241 245 249);
    color: black;
    border:1px solid #cfd9e0;
}
.tag{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding: 10px 15px;
    height: 44px;
    color: #374957;
    font-weight: 400;
    margin: 0;
    border: 1px solid #cfd9e0;
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 14px;
    white-space: nowrap;
    flex-shrink: 0;
    width: fit-content;

     
    
}
.tag-class{
    box-sizing: border-box;
    outline: none;
    line-height: 1.66;
    flex-shrink: 0;
    margin-top:20px;


}
.filters{
   margin: 0 20 0 0;
    padding: 0px 30px;
    display: initial;
    flex-shrink: 0;

}

.filtersbtn{
    margin: 0 20 0 0;
    padding: 0px 30px;
    display: block;
    background: #eff3f6;
    color: #374957;
    font-weight: 600;
    border-radius: 8px;
    line-height: 34px;
    max-width: initial;
    min-width: initial;
    box-shadow: none;
    margin-right: 20px;
    justify-content: center;
    height: 44px;
    font-size: 16px;
    cursor: pointer;
    transition: 250ms linear;
    text-transform: none;
    font: inherit;
    flex-shrink: 0;
    display: flex;
width: fit-content;
}

.offcanvas{
    margin-top:3%;
max-width:15%;
}
.btn-outline-secondary:click{
background-color: white;

}

.navbar{
        overflow-y:visible;
        display:flex;
        background-color: black;
}
#navv{
    max-height: 2px;
    display: flex;
    background-color: black;
}
.track{
    display: flex;
overflow: hidden;}

@media screen and(max-width:1080) {
    .navbar{
        background-color: black;
    }
}
