#mp-search-container {
  padding: 20px 0px;
  background-color: #4055c7;
}

.gutter-none {
  --bs-gutter-x: 0 !important;
}

#mp-search-container * {
  color: white;
  padding: 0px 0px 10px;
  margin: 0px;
}

#mp-search-container h1 {
  font-size: 34px !important;
  padding-top: 20px;
}

#mp-search-container h2 {
  font-size: 22px !important;
  padding-bottom: 10px;
}

/* .bg-purple {
  background-color: #4055c7;
} */

#op-search-container {
  /* height: 45px !important; */
}

#op-search-container img {
  height: 40px !important;
  max-height: 40px;
}