#mp-search-container {
  padding: 20px 0px;
}

#mp-search-container .logo-wrapper {
  height: 45px;
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.gutter-none {
  --bs-gutter-x: 0 !important;
}

#mp-search-container * {
  color: white;
  padding: 0px 0px 10px;
  margin: 0px;
  letter-spacing: 0.5px;
}

#mp-search-container h1 {
  padding-top: 35px;
  font-size: 2.1rem;
  font-weight: bold;
}

#mp-search-container h2 {
  padding: 8px 0 10px 0;
  font-size: 1.3rem;
  font-weight: 100;
  font-family: "Roboto";
}

#op-search-container {
  padding: 0px 0px 10px 0px;
  background-color: white;
  z-index: 10;
}

#op-search-container img {
  height: 40px !important;
  max-height: 40px;
}

@media screen and (max-width: 576px) {
  #mp-search-container h1 {
    font-size: medium;
  }

  #mp-search-container h2 {
    font-size: small;
  }
}

@media screen and (max-width: 1150px) {
  #mp-search-container .logo-wrapper {
    display: block;
  }
  #mp-search-container h1 {
    padding-top: 5px;
    font-size: 1.8rem;
  }

  #mp-search-container h2 {
    font-size: 1.05rem;
    font-weight: 100;
  }
}

@media screen and (max-width: 430px) {
  #mp-search-container h1 {
    font-size: 1.5rem;
  }

  #mp-search-container h2 {
    font-size: 1.05rem;
    font-weight: 100;
  }
  #mp-search-container {
    padding: 20px 4%;
  }

  #mp-search-container h2 {
    font-size: 0.95rem;
  }
}

.logo-wrapper img {
  height: 50px;
}

