.fonts{
    margin-left:3%;
    margin-right:3%;
}
.fonts-title{
    font-size: 18px;
    font-weight: 500;
    color:#374957;
}
.fontsize{
    background-color: white !important;
    color:#a5b7c6;
    border:0;
    height: 44px;
    font-size: 13px;
    font-weight: 800;
   padding-top: 0;
}
.fontsizebtns{
    margin-top: .5%;
    height: min-content;
    white-space: nowrap;
    overflow-x: clip;
    max-width: 100%;
}
.fontsize:hover{
    color:#374957;
}
.size-selected,.size-selected:focus{
    background-color: #e3e9ed !important;
    border-radius:12%;
}
.p-fontsize{
    margin-top: 0px;
}
.grid-list{
   font-weight: 700;
   color: rgb(165, 183, 198);
   border-color:#374957 ;
   border: 1px ridge  #CFD9E0;
   border-radius: 0px !important;
right: 2.8%;
   font-size: 140%;
   font-size: 25px;
}
.grid-list-selected{
       background-color: rgb(227, 233, 237);
       color:rgb(55, 73, 87);
}
.fonts .list:hover,.fonts .grid:hover{
    background-color: rgb(227, 233, 237);
}
.list,.grid{
    transition: 0.3s;
}
.p24{
    font-size: 24px;
    margin-top: 0%;
}
.p36{
    font-size: 36px !important;
    
}
.p48{
    font-size: 48px;
}
.p72{
    font-size: 72px;

}
.font-card{
    margin-bottom: 20px;
    margin-top: 20px;
    white-space: nowrap;
    overflow-x: clip;
    max-width: 100%;
} 
.font-card:hover{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    #font-card-info {
      font-size: 12px !important;
    }
  }

.card-font-title{
    white-space: nowrap;
    overflow-x: clip;
    max-width: 100%;
    
}
.card-body-fonts{
    margin-left: 1%;
}
.fontcheck{
    width: 350px !important;
   margin-left: 0px !important;
   margin-right: 0px !important;
   padding: 0 .7%;
   height: 50px;
}
.titles{
    display: flex;
    
}

    .font-image{
        width: 12.5%;
        flex-shrink: 0 !important;
        max-width: 100% ;
    } 


    @media only  screen and (max-width:262px) {
        .fonts-list{
            margin-top: 43% !important;
        }
.grid-list{
    margin-top: 9%;
}
    }
       

@media only screen and (max-width:650px){

   .img{
    max-width: auto !important;
   }
   .card-body-fonts{
   left: 115px;
   position: absolute;
   max-width: 70%;
    white-space: nowrap;
    overflow-x: clip;
  }
   
   .font-card{
    padding-bottom: 5%;
    height: 100%;
   }
   .nextpage{
    margin-top: 8% !important;
   }
   .p72{
    margin-top: -1.7%;
   }
    #fontimage{
        width: 100px;
        flex-shrink: 0;
        height: 67px;
        max-width: fit-content !important;
    }
}

@media only screen and (min-width:151px) and (max-width:395px){
    .card-body-fonts{
        left: 115px;
        position: absolute;
        max-width: 40% !important;
         white-space: nowrap;
         overflow-x: clip;
    }
}
@media only screen  and (max-width:180px){
    .card-body-fonts{
        left: 115px;
        position: absolute;
        max-width: 2% !important;
         white-space: nowrap;
         overflow-x: clip;
    }
}
.nextpage{
    background-color: rgb(18 115 235);
    margin-left: 46%;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: .3ch;
    overflow: hidden;
    flex-shrink: 1;
    padding-left: 1.7%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 1.7%;
    font-size: 16px;
}
.img-wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: fit-content;
  }
  .fontimg{
    border-radius: .3ch;
  }
  .font-name {
    position: absolute;
    bottom: 18%;
    left: 2%;
  }
  .desc{
    visibility: hidden;
    position: absolute;
    bottom: 2.1%;
    background: linear-gradient(rgba(8,25,43,0) 40%, rgba(8,25,43,0.85)) ;
    width: 100%;
    height: 97%;
    background-size:10%;
    opacity: 100%;
    border-radius:.3ch ;
  }
  .avatar{
    position: absolute;
    bottom: 6%;
    left: 2.3%;
    width: 8%;
    border-radius: 5ch;
    border-color: white;
    opacity: 100% !important;

  }
.fontscardgrid{
    padding-bottom: 2%;
}
  .creator-name{
    position: absolute;
    bottom: 6%;
    left: 12%;
  }
  @media only screen and (min-width: 772px) {
    .img-wrapper:hover .desc{
        visibility: visible;
        background-position: 100% 100% ;
      }
  }
  @media only screen and(min-width:992px){
    .avatar{
        margin-bottom: 10% !important;
        width: 50% !important;
    }
  } 
  @media only screen and (min-width: 1000px) and (max-width: 1920px){
    .margin3{
        margin-top: 3%;
    }
    .margin25{
        margin-top: 2.5%;
    }
    .margin15{
        margin-top: 1.5%;
    }
    .margin13{
        margin-top: 1.3%;
    }
   
  }
.grid-view{
    margin-top: 10% !important;
    margin-top: -48px !important;
    position: absolute !important;
    right:2.75%;
    display: flex;
  }
  .cardrow{
    margin-left: 0px;
  }

 .fontsgrid{
    width: 95%;
 }
  .gridcard{
    padding: 0px 5px;
  }
