.fonts{
    margin-left:3%;
}
.fonts-title{
    font-size: 18px;
    font-weight: 500;
    color:#374957;
}
.fontsize{
    background-color: white !important;
    color:#a5b7c6;
    border:0;
    height: 44px;
    font-size: 13px;
    font-weight: 800;
   padding-top: 0;
}
.fontsizebtns{
    margin-left: .5%;
}
.fontsize:hover{
    color:#374957;
}
.size-selected,.size-selected:focus{
    background-color: #e3e9ed !important;
    border-radius:12%;
}
.p-fontsize{
    margin-top: 0px;
}
.grid-list{
    margin-left:57%;
   border-radius: 50%;
   border-color: black;
}
.list{
    padding-right: 6px;
}
.name-count{
    margin-top:1%;
    color: black;
}
.styles-count{
    color:#374957 !important;
    margin-left: .7%;
}
.p24{
    font-size: 24px;
    margin-top: 0%;
}
.p36{
    font-size: 36px !important;
    
    margin-bottom: 0%;
    position: absolute !important;
}
.p48{
    font-size: 48px;
    text-align: center;
}
.p72{
    font-size: 72px;

}
.font-card{
    margin-bottom: 20px;
    margin-top: 20px;
} 
.font-card:hover{
    cursor: pointer;
}
.card-font-title{
    white-space: nowrap;
    overflow-x: clip;
    max-width: 100%;
    
}

.card-body{
    margin-left: 1%;
}
.search{
    width: 19% !important;
   margin-left: 0px !important;
   margin-right: 0px !important;
   padding: 0 .7%;
}
.titles{
    display: flex;
    
}
.font-image{
    width: 12.5%;
}
.nextpage{
    background-color: rgb(18 115 235);
    margin-left: 46%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 9%;
    height: 2%;
    border-radius: .5ch;
}