.fonts{
    margin-left:3%;
    margin-right:3%;
}
.fonts-title{
    font-size: 18px;
    font-weight: 500;
    color:#374957;
}
.fontsize{
    background-color: white !important;
    color:#a5b7c6;
    border:0;
    height: 44px;
    font-size: 13px;
    font-weight: 800;
   padding-top: 0;
}
.fontsizebtns{
    margin-left: .5%;
}
.fontsize:hover{
    color:#374957;
}
.size-selected,.size-selected:focus{
    background-color: #e3e9ed !important;
    border-radius:12%;
}
.p-fontsize{
    margin-top: 0px;
}
.grid-list{
    margin-left:90%;
   font-weight: 700;
   color: rgb(165, 183, 198);
   border-color:#374957 ;
   border: 1px ridge  #CFD9E0;
   border-radius: 0px !important;

   font-size: 140%;
   font-size: 25px;
}
.grid-list-selected{
       background-color: rgb(227, 233, 237);
    
}
.list,.bi-list-ul{
    
}
.grid,.bi-grid-3x3-gap-fill{
}

.styles-count{
    color:#374957 !important;
    margin-left: .7%;
}
.p24{
    font-size: 24px;
    margin-top: 0%;
}
.p36{
    font-size: 36px !important;
    
}
.p48{
    font-size: 48px;
}
.p72{
    font-size: 72px;

}
.font-card{
    margin-bottom: 20px;
    margin-top: 20px;
} 
.font-card:hover{
    cursor: pointer;
}
.card-font-title{
    white-space: nowrap;
    overflow-x: clip;
    max-width: 100%;
    
}

.card-body{
    margin-left: 1%;
}
.search{
    width: 19% !important;
   margin-left: 0px !important;
   margin-right: 0px !important;
   padding: 0 .7%;
}
.titles{
    display: flex;
    
}
.font-image{
    width: 12.5%;
}
.nextpage{
    background-color: rgb(18 115 235);
    margin-left: 46%;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: .3ch;
    overflow: hidden;
    flex-shrink: 1;
    padding-left: 1.7%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 1.7%;
    font-size: 16px;
}
.img-wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: fit-content;
  }
  .fontimg{
    border-radius: .3ch;
  }
  .font-name {
    position: absolute;
    bottom: 18%;
    left: 2%;
  }
  .desc{
    visibility: hidden;
    position: absolute;
    bottom: 2.1%;
    background: linear-gradient(rgba(8,25,43,0) 40%, rgba(8,25,43,0.85)) ;
    width: 100%;
    height: 97%;
    background-size:10%;
    opacity: 100%;
    border-radius:.3ch ;
  }
  .avatar{
    position: absolute;
    bottom: 6%;
    left: 2.3%;
    width: 8%;
    border-radius: 5ch;
    border-color: white;
    opacity: 100% !important;

  }
.fontscardgrid{
    padding-bottom: 2%;
}
  .creator-name{
    position: absolute;
    bottom: 6%;
    left: 12%;
  }
  @media only screen and (min-width: 772px) {
    .img-wrapper:hover .desc{
        visibility: visible;
        background-position: 100% 100% ;
      }
  }
  @media only screen and(min-width:992px){
    .avatar{
        margin-bottom: 10% !important;
        width: 50% !important;
    }
    
  }
  @media only screen and (min-width: 1000px) and (max-width: 1920px){
   
    .margin3{
        margin-top: 3%;
    }
    .margin25{
        margin-top: 2.5%;
    }
    .margin15{
        margin-top: 1.5%;
    }
    .margin13{
        margin-top: 1.3%;
    }
    .grid-view{
        margin-left: 94.5% !important;
      }
  }
 
  @media only screen and (min-width:1px) and (max-width:522px) {
    .grid-view{
        margin-left: 80% !important;
        bottom:30% !important;
      }
  }
@media only screen and (min-width:523px) and (max-width:1651px)  {
    .grid-view{
        margin-left: 90% !important;
      }
}
.grid-view{
    bottom: 37%;
  }
  
 .fontsgrid{
    width: 95%;
 }
  .gridcard{
    padding: 0px 5px;
  }
  

