
.Sidebar {
  height: 20%;
  width: 50px;
}

.collapsebtn {
  border-radius: 0em;
}

.btn-collapse {
  border: 0ch;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  color: #374957;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.66;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

.side-tag {
  margin-left: 0px;
  width: max-content;
  padding: 4px 5px;
}
.sidetag-selected {
  background-color: black;
}
.sidebar-content {
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}
.sidebar {
  margin-left: 0.8%;
}
.sidebar-content {
  overflow-y: visible;
}
.sidetag {
  border-radius: 8px;
  padding: 10px;
  height: 44px;
  color: #374957;
  font-weight: 400;
  margin: 0;
  border: 1px solid #cfd9e0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 14px;
  white-space: nowrap;
  margin-left: 0px;
}
