.footer {
    -webkit-text-size-adjust: 100%;
    color: #869fb2;

    font-family: "Proxima Nova", "Verdana", "Avenir Next";
    font-size: 16px;
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    box-sizing: border-box;
    outline: none;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    background-color: #1d262d;
}

.h4 {
    padding-left: 10px;
    -webkit-text-size-adjust: 100%;
    font-family: "Proxima Nova", "Verdana", "Avenir Next";
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    opacity: .85;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.list-unstyled {
    padding-right: 100px;
    -webkit-text-size-adjust: 100%;
    font-family: "Proxima Nova", "Verdana", "Avenir Next";
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    font-size: 14px;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: #869fb2;
}

.container {
    -webkit-text-size-adjust: 100%;
    color: #374957;
    font-family: "Proxima Nova", "Verdana", "Avenir Next";
    font-size: 16px;
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    box-sizing: border-box;
    outline: none;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    background-color: #1d262d;
}

.row {
    -webkit-text-size-adjust: 100%;
    color: #374957;
    font-family: "Proxima Nova", "Verdana", "Avenir Next";
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    box-sizing: border-box;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -5px;
    font-size: 14px;
    text-align: center !important;
}

.footer-button {
    -webkit-text-size-adjust: 100%;
    color: #bac8d3;
    font-family: "Proxima Nova", "Verdana", "Avenir Next";
    font-size: 16px;
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    box-sizing: border-box;
    outline: none;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1400px;
    margin: 0 auto;
    border-top: 1px solid #374957;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    padding: 10px 0 0 0;

    text-align: center;
}