#grid-cards{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 1rem;
	width: 95%;
	margin: 0 auto;
  }

.card-wrapper{
	width: fit-content !important;
    padding: 0px;
    margin: 0px;
    display: inline;
	margin: 1%;
	margin: 0 auto;
}
.inner-search-card{
	width: fit-content;
	display: inline;
}

@media screen and (max-width:768px) {
#grid-cards{
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
}
#search-results{
	overflow: hidder;
}