#sponsored-by-component {
  width: 100%;
}
#sponsored-by-component .sections-wrapper {
  margin: 10px 20px;
  padding: 20px 17px;
  background-image: linear-gradient(#d0dae1, #e3e9ed);
}

#sponsored-by-component .container {
  height: 201px;
  padding-top: 5px !important;
}
#sponsored-by-component article {
  height: 120px;
  padding: 0 3px;
}
#sponsored-by-component .bg-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: 120px;
}
#sponsored-by-component #sponsor-details {
  padding: 12px 0 0 3px;
  color: #384a58;
  display: flex;
  justify-content: space-between;
}

#sponsored-by-component #sponsor-details > * {
  padding: 5px;
  width: max-content;
}
#ten-free {
  color: #1173ee;
}

#sponsored-by-component #sponsor-details img {
  height: 20px;
  padding: 0px 15px 0px 5px;
}

#sponsored-by-component .explore .explore-btn {
  font-size: medium;
  color: #1173ee;
  width: 110px;
  display: flex;
}

.explore .right-arrow {
  padding-left: 0.5%;
  color: #1173ee;
  padding: 4px 0px 0px 10px;
}

.explore .explore-btn::after {
  display: inline-block;
  padding-left: 8px;
}

.explore .explore-btn:hover .right-arrow {
  transform: translateX(4px);
}

.sponsor-image img {
  width: 100%;
  min-width: 160px;
  max-width: 250px;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1224px) {
  .sponsor-image:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .sponsor-image:nth-last-child(2) {
    display: none;
  }
}
@media (max-width: 824px) {
  .sponsor-image:nth-last-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .sponsor-image:nth-last-child(4) {
    display: none;
  }
}
@media (max-width: 690px) {
  .sponsor-image:nth-last-child(4) {
    display: none;
  }
}

@media (max-width: 660px) {
  #sponsored-by-component {
    display: none;
  }
}
