//* global element styling *//

// colors and gradients

// buttons

// anchors

// paragraph standards

// old sass code
$main-color: #4055c7;
$dark-color: #252a31;
$anchorColor2: #a5b7c6;
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
li,
span,
div,
button,
textarea,
input,
select,
option,
ul,
ol,
dl,
dt,
dd,
blockquote,
code,
form,
label,
legend,
table,
th,
td,
thead,
tbody,
tfoot,
tr,
fieldset,
figure,
figcaption,
hr,
em,
strong,
small,
del,
ins,
sub,
sup,
iframe,
object,
embed,
video,
audio,
canvas,
svg,
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  font-family: 'Figtree', cursive;
}
@mixin resetBootstrap() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0px;
  ul {
    list-style: none;
  }
}
@mixin AnchorFontStyle() {
  color: white;
  text-decoration: none;
  font-size: 13.5px;
  text-decoration: none;
}

.search-content {
  min-height: 1000px;
}

.animate > div,
.animate img {
  animation-name: fade-in;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// header {
//   background: linear-gradient(180deg, #2d2db0 -65%, #2c8cf4 110%);
// }
.blue-gradient {
  background: linear-gradient(180deg, #2d2db0 -65%, #2c8cf4 110%);
}
// old css code
.search-main-cont {
  display: flex;
  justify-content: space-between;
}
.aside-cont-show {
  width: 25%;
  min-width: 280px;
  max-width: 280px;
}
.results-cont-small {
  width: 75%;
}
.aside-cont-hide {
  width: 0.01%;
  background-color: white;
  padding: 0px;
  margin: 0px;
  /* min-width: 280px;
  max-width: 280px; */
}

.results-cont-big {
  width: 98%;
}
.aside-dissapear {
  display: none;
}

@media screen and (max-width: 800px) {
  .aside-cont-show {
    display: none;
  }
  .aside-cont-hide {
    display: none;
  }
  .results-cont-small {
    width: 97%;
  }
}

/* @media screen and (max-width: 800px) {
  .aside-cont-show {
	display: none;
  }
  .results-cont-small {
	width: 100%;
  }
  .results-cont-big {
	width: 100%;
  }
}

} */

.search-results div {
  text-align: center;
  h1,
  h2,
  h3 {
    padding: 15px;
  }
}

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b6b6b6;
  .searchbox-wrapper {
    width: 100%;
    height: 75px;
    background-color: #40a5c7;
    border-bottom: 2px solid #d2d2d2;
    // margin-bottom: 5px;
  }
  .sponsored-wrapper {
    width: 100%;
    height: 180px;
    display: flex;
    background-color: #4055aa;
  }
  .sidebar-results {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #fff;
    padding: 0;
    .sidebar-wrapper {
      width: 300px;
      height: calc(100vh - 70px);
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #fff;
      border-right: 2px solid #d2d2d2;
      position: relative;
      .sidebar-body {
        .sidebar-item:last-child {
          padding-bottom: 30px;
        }
      }
    }
    .sidebar-to-button {
      height: 45px;
      width: 100px;
      padding: 10px;
      position: fixed;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      margin: 4px 0 0 20px;
      z-index: 4;
      background-color: #fff;
      box-shadow: -20px 0px 0px 2px #fff;
    }
    .hide-us {
      position: absolute;
      z-index: 12;
      width: 100%;
    }
    .sidebar-toggle {
      position: absolute;
      top: 20px;
      right: 30px;
    }
    .sidebar-filters-btn {
      position: absolute;
      margin: 0 auto;
      align-items: center;
      z-index: 11;
    }

    .tagbar-results {
      width: calc(100% - 300px);
      height: calc(200vh - 150px);
      display: flex;
      flex-direction: column;
      padding: 0;
      overflow: hidden;
      .tagbar-wrapper {
        width: 100%;
        height: 60px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .results-wrapper {
        width: 100%;
        height: calc(100% - 30px);
        background-color: #858687;

        .results-header {
          width: 100%;
          height: 120px;
          background-color: #fff;
        }
        .results-list {
          width: 100%;
          height: calc(100% - 120px);
          background-color: #a9a9a9;
        }
      }
    }
    .tag-100 {
      width: 100%;
      margin-left: 0 !important;
      .tagbar-wrapper {
        left: 0;
        width: 100% !important;
      }
    }
  }
  .s-hide {
    display: none;
  }
}

.s-fix {
  position: fixed;
  z-index: 2;
}
.sb-fixed {
  top: 0;
}
.side-fixed {
  top: 75px;
  position: fixed !important;
}
.tagbar-fixed {
  top: 75px;
  left: 300px;
  width: calc(100% - 300px) !important;
}

.results-fixed {
  margin-top: 140px;
}

.tagbar-results-fixed {
  width: calc(100% - 300px);
  margin-left: 300px;
}

@media screen and (max-width: 1050px) {
  .sidebar-wrapper {
    display: none;
  }
  .tagbar-results {
    width: 100% !important;
    margin: 0 !important;
    .tagbar-wrapper {
      width: 100% !important;
      left: 0 !important;
      margin: 0 !important;
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide {
  display: none;
}
