.search-main-cont {
  display: flex;
  justify-content: space-between;
}
.aside-cont-show {
  width: 25%;
  min-width: 280px;
  max-width: 280px;
}
.results-cont-small {
  width: 75%;
}
.aside-cont-hide {
  width: 0.01%;
  background-color: white;
  padding: 0px;
  margin: 0px;
  /* min-width: 280px;
  max-width: 280px; */
}

.results-cont-big {
  width: 98%;
}
.aside-dissapear {
  display: none;
}

@media screen and (max-width: 800px) {
  .aside-cont-show {
    display: none;
  }
  .aside-cont-hide {
    display: none;
  }
  .results-cont-small {
    width: 97%;
  }
}

/* @media screen and (max-width: 800px) {
  .aside-cont-show {
	display: none;
  }
  .results-cont-small {
	width: 100%;
  }
  .results-cont-big {
	width: 100%;
  }
}
	
} */

