#join-section .title {
  margin-top: 4%;
  margin-left: 10%;
  font-size: xx-large;
  color: black;
}
#join-section strong {
  color: blue;
}
#join-section .photo {
  margin-left: 900px;
  margin-top: -16%;
  margin-right: 10px;
}
#join-section .text {
  margin-left: 10%;
  color: rgb(52, 51, 51);
}
#join-section .button {
  background-color: #1273eb;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 10%;
  cursor: pointer;
}
#join-section {
  border-radius: 20px;
  margin-top: 10%;
  background: #afd0e8;
  padding: 10px;
  width: 100%;
  height: 270px;
}
#join-section .row {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  #join-section .text,
  #join-section .title,
  #join-section .photo {
    flex-direction: column;
  }
  @media screen and (max-width:1000px) {
    #join-section .photo{
      display: none;
    }
  }
  }
  @media screen and (max-width:1188px) {
    #join-section .photo{
      display: none;
    }
}
@media screen and (max-width:1200px) {
  #join-section .photo{
    margin-top: -13%;
  }
}
