#join-section .title {
  font-size: xx-large;
  color: #374957;
  padding-bottom: 25px;
}
#join-section strong {
  color: blue;
}
#join-section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 30px auto;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #d2eafd, #e9f7fe);
  padding-bottom: 20px;
}
#join-section .photo {
  height: 300px;
  width: 50%;
}
#join-section img {
  height: 330px;
  object-fit: cover;
  margin-top: -20px;
}
#join-section .content {
  width: 65%;
  padding: 50px 60px 0 80px;
}

#join-section .text {
  width: 90%;
  color: #485762;
  font-size: 16px;
  margin-bottom: 40px;
}
#join-section .button {
  background-color: #1273eb;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  padding: 12px 26px;
}

@media (max-width: 1100px) {
  #join-section {
    padding-bottom: 50px;
  }
}

