@import '../../../assets/styles/global.scss';
@mixin fontStyling {
    white-space: initial;
    font-size: 75%;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.cat-card{
    margin: 5px 0px 5px 0px;
	padding: 3px;
    width: 250px;
	height: 140px;
    float: left;
    .cat-card-wrapper{
        position: relative;
		margin-right: 20px;
    }
    a, .card-link{
        text-decoration: none;
    }
    img{
        border-radius: 10px;
		filter: brightness(0.6);
		width: 100%;
		height: 130px;
        background: transparent;
        object-fit: cover;
    }
    h5{
        height: fit-content;
		top: 3em;
		bottom: 0;
		right: 0;
		left: 0;
        position: absolute;        
        text-align: center;
        color: white;
        border-radius: 20px;
		@include fontStyling;
    }
    img:hover{
        filter: brightness(0.50);
    }
}

@media (max-width: 600px) {
	.cat-card{
	  width: 170px;
	  height: 80px;
	  h5{
		top: 2.1em;
	  }
	  font-size: 80%;
	}
	.cat-card img{
	  height: 80px;
	}
  }