* {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-family: "Proxima Nova", Verdana, "Avenir Next";
}
#trending {
  min-width: 1096px;
  float: none;
  margin: 0 auto;
  padding: 0 18px;
  display: block;
  text-align: left;
  color: rgb(58, 71, 85);
}
#trending .title {
  text-align: center;
  font-size: 30px;
}
#trending strong {
  color: rgb(53, 113, 227);
}
#trending .text-muted {
  text-align: center;
  font-size: 18px;
}

#trend-content {
  position:relative;
}
#trending-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-count: 4;
    grid-template-rows: 1fr 1fr 1fr ;
    padding: 30px;
    gap: 10px;
}
.trendtext {
  color: white;
  position: absolute;
  bottom: 5px;
  margin: 10px;
}
#trending-content::marker {
  content: none;
}

#Freedom{
    display: flex;
    position: relative;
    grid-row: span 2;
    grid-area: 1/1/3/3;
    align-content:center;
}
.item{
    font-size: 16px;
    font-weight: 600;
    border-top-left-radius: 10px;
}